## Pandas Series

## Exercises Part 1

### Use Series attributes and methods to explore your fruits Series.

In [133]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [137]:
fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
fruits

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'kiwi',
 'kiwi',
 'kiwi',
 'mango',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

In [146]:
fruits_array = np.array(fruits)
fruits_array

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype='<U16')

In [148]:
fruits_series = pd.Series(fruits_array)
fruits_series

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [155]:
# 1 Determine the number of elements in fruits.
fruits_series.count()

17

In [194]:
fruits_series.size

17

In [195]:
fruits.shape

(17,)

In [156]:
# 2 Output only the index from fruits.

fruits_series.index

RangeIndex(start=0, stop=17, step=1)

In [159]:
# 3 Output only the values from fruits.

fruits_series.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [180]:
# 4 Confirm the data type of the values in fruits.
type(fruits_series)

pandas.core.series.Series

In [161]:
# 5a Output only the first five values from fruits.
fruits_series.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [202]:
fruits_series[:5]

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [204]:
# 5b Output the last three values.
fruits_series.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [198]:
fruits_series[-3:]

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [163]:
# 5c Output two random values from fruits.
fruits_series.sample(2)

0     kiwi
1    mango
dtype: object

In [169]:
# 6 Run the .describe() on fruits to see what information it returns when called on a Series with string values.
fruits_series.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [193]:
fruits_series.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [192]:
fruits_series.value_counts().describe()

count    13.000000
mean      1.307692
std       0.854850
min       1.000000
25%       1.000000
50%       1.000000
75%       1.000000
max       4.000000
dtype: float64

In [210]:
fruits_series.value_counts().index()

TypeError: 'Index' object is not callable

In [170]:
# 7 Run the code necessary to produce only the unique string values from fruits.
fruits_series.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [211]:
fruits_series.nunique()

13

In [171]:
# 8 Determine how many times each unique string value occurs in fruits.
fruits_series.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [177]:
# 9 Determine the string value that occurs most frequently in fruits.
fruits_series.value_counts().head(1)

kiwi    4
dtype: int64

In [214]:
fruits_series.describe()["top"]

'kiwi'

In [213]:
fruits_series.head(1)

0    kiwi
dtype: object

In [178]:
# 10 Determine the string value that occurs least frequently in fruits.
fruits_series.value_counts().tail(1)

papaya    1
dtype: int64

In [217]:
# think of the [] as where value_counts() = 1
fruits_series.value_counts()[fruits_series.value_counts()==1]

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [218]:
# nlargest keeps previous data as you change the vaue inside it
fruits_series.value_counts().nlargest()

kiwi          4
mango         2
strawberry    1
pineapple     1
gala apple    1
dtype: int64

In [219]:
fruits_series.value_counts().nlargest(1)

kiwi    4
dtype: int64

In [225]:
fruits_series.value_counts().nsmallest(1, keep='all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64