## Pandas Series

## Exercises Part 2

In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [25]:
fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
fruits

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'kiwi',
 'kiwi',
 'kiwi',
 'mango',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

In [130]:
# docstring help

pd.Series.isin?

In [66]:
fruits_series = pd.Series(fruits)
fruits_series

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [67]:
# 1 Capitalize all the string values in fruits.
fruits_series.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

In [85]:
# 2 Count the letter "a" in all the string values (use string vectorization).
# 'apple'.lower().count('a')
fruits_series.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

In [94]:
# 3 Output the number of vowels in each and every string value.
# vowels = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']
# regex method

fruits[fruits_series.str.lower().str.count(r'[aeiou]')]

2          strawberry
2          strawberry
2          strawberry
4          gala apple
4          gala apple
5    honeycrisp apple
3           pineapple
4          gala apple
3           pineapple
2          strawberry
2          strawberry
2          strawberry
2          strawberry
3           pineapple
2          strawberry
4          gala apple
3           pineapple
dtype: object

In [92]:
fruits.str.count('[aeiou]')

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [90]:
def count_vowels(some_str):
    counter = 0
    for letter in some_str:
        if letter in 'aeiou':
            counter += 1
    return counter

count_vowels("Hullabaloo")

5

In [91]:
fruits.apply(count_vowels)

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [100]:
# 4 Write the code to get the longest string value from fruits.
max(fruits)

'watermelon'

In [98]:
fruits[fruits.apply(len)==fruits.apply(len).max()]

5    honeycrisp apple
dtype: object

In [101]:
pd.Series(fruits.apply(len).values, index = fruits.values)

kiwi                 4
mango                5
strawberry          10
pineapple            9
gala apple          10
honeycrisp apple    16
tomato               6
watermelon          10
honeydew             8
kiwi                 4
kiwi                 4
kiwi                 4
mango                5
blueberry            9
blackberry          10
gooseberry          10
papaya               6
dtype: int64

In [116]:
# 5 Write the code to get the string values with 5 or more letters in the name.
fruits.str.len()
fruits[fruits.str.len() >= 5]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [117]:
fruits[fruits.apply(len) >= 5]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [115]:
# 6 Find the fruit(s) containing the letter "o" two or more times.
fruits[fruits_series.str.count('[o]') >= 2]

6         tomato
15    gooseberry
dtype: object

In [114]:
fruits[fruits.str.lower().str.count('o') >= 2]

6         tomato
15    gooseberry
dtype: object

In [109]:
# 7 Write the code to get only the string values containing the substring "berry".
fruits[fruits_series.str.count('[berry]')]

0          kiwi
0          kiwi
6        tomato
2    strawberry
1         mango
4    gala apple
0          kiwi
3     pineapple
3     pineapple
0          kiwi
0          kiwi
0          kiwi
0          kiwi
7    watermelon
6        tomato
6        tomato
1         mango
dtype: object

In [118]:
'berry' in 'blueberry'

True

In [126]:
# 'blueberry'.contains('berry')  # doesn't work in regulary python
fruits.str.contains('berry')

fruits[fruits.str.contains('berry')]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [133]:
fruits.isin(['berry'])

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
dtype: bool

In [124]:
# fruits.apply(lambda x: 'berry' in x)
fruits[fruits.apply(lambda x: 'berry' in x)]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [127]:
# 8 Write the code to get only the string values containing the substring "apple".
fruits[fruits.apply(lambda x: 'apple' in x)]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

In [136]:
# 9 Which string value contains the most vowels?
fruits.str.count('[aeiou]')

fruits[fruits.str.count('[aeiou]')])

2          strawberry
2          strawberry
2          strawberry
4          gala apple
4          gala apple
5    honeycrisp apple
3           pineapple
4          gala apple
3           pineapple
2          strawberry
2          strawberry
2          strawberry
2          strawberry
3           pineapple
2          strawberry
4          gala apple
3           pineapple
dtype: object

In [ ]:
fruits.apply